* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: purple;
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

h2, p {
  margin-bottom: 1rem;
}

article {
  flex: 1;
  /* width: calc(50% - 1rem); */
  padding: 1rem;
  margin: 0.5rem;
  background: aqua;
}

section {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

#second {
  flex: 2 0 200px;
}
/* Add your flexbox CSS below here */
